node_modules
**/node_modules
.turbo
.cache
.history
.idea
.npmrc

abi
artifacts
build
cache
dist
forge-out
sandbox
coverage*

.env
.env.local

.eslint.local.json
.eslintcache

out.json
out.html
tree.json

.verifier*

.DS_Store
*.log


.nx/cache